<!-- tracking/templates/tracking/dashboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Dashboard - Rodent Video Tracking</title>
    <link rel="stylesheet" href="{% static 'tracking/css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome to Rodent Video Tracking Software</h1>
        <div>
            <!-- Link the New Videos button to the new_videos view -->
            <button onclick="location.href='{% url 'new_videos' %}'">New Videos</button>
            <button onclick="location.href='#'">Previous Videos</button>
            <button onclick="location.href='#'">Livestream</button>
        </div>
    </div>
</body>
</html>